:root {
    --size-8: 0.5rem;
    --size-12: 0.75rem;
    --size-16: 1rem;
    --size-20: 1.25rem;
    --size-24: 1.5rem;
    --size-28: 1.75rem;
    --size-32: 2rem;
    --size-36: 2.25rem;
    --size-40: 2.5rem;
    --size-42: 2.75rem;
    --size-48: 3rem;
    --size-56: 3.5rem;
    --size-64: 4rem;
    --hp-gold: #D3A625;
    --gryffindor-red: #AE0001;
    --slytherin-green: #2A623D;
    --slytherin-silver: #AAAAAA;
    --ravenclaw-blue: #222F5B;
    --ravenclaw-gold: #946B2D;
    --hufflepuff-yellow: #FFD800;
    --hufflepuff-brown: #DE9245;
}

body {
    background-image: url(../assets/page-bg3.jpg);
    background-size: contain;
}

/* Declare Potterfont font */
@font-face { font-family: Potterfont; src: url('../assets/font/HarryP-MVZ6w.ttf'); } 

#pg-header-container,
#modal-header-container {
    background: rgba(0, 0, 0, 0.8);
    padding: var(--size-12);
}

h1,
h2,
.char-header,
p {
    font-family: Potterfont, serif;
}

h1 {
    text-align: center;
    font-size: var(--size-64);
    color: var(--hp-gold);
    padding: var(--size-24) 0;
    margin: 0;
    letter-spacing: var(--size-8);
}

h2,
.modal-header {
    color: white;
    font-size: var(--size-28);
    letter-spacing: 0.25rem;
    text-align: center;
    text-transform: uppercase;
}

h2:hover {
    cursor: pointer;
    color: purple;
}

.sort-btns-container-homepage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sort-btn {
    font-size: var(--size-24);
    padding: var(--size-16);
    background: transparent;
    color: white;
    border: 2px solid white;
    font-family: 'Potterfont', serif;
}

.sort-btn:hover {
    background: white;
    color: black;
    cursor: pointer;
}

.sort-btn:disabled {
    cursor: auto;
    color: rgb(78, 78, 78);
    background-color: black;
    border: 2px solid transparent;
}

#chars-container,
#favs-modal-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--size-20);
    row-gap: var(--size-12);
    margin: var(--size-20) var(--size-20);
}

.char-card,
.fav-char-card {
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: var(--size-20);
    text-align: center;
}

.favs-btn,
.del-favs-btn {
    position: absolute;
}

.favs-btn:hover,
.del-favs-btn:hover {
    cursor: pointer;
}

.char-card header,
.fav-char-card header {
    font-size: var(--size-48);
    color: var(--hp-gold);
}

.char-card p,
.fav-char-card p {
    font-size: var(--size-24);
}

.char-img-container {
    max-width: 100%;
}

.char-card.invisible,
.fav-char-card.invisible {
    display: none;
}

#favs-btn {
    position: absolute;
}

#favs-btn:hover {
    cursor: pointer;
}

.char-img-container img {
    width: 100%;
    max-width: 100%;
}

#totals-section-homepage {
    border-radius: var(--size-12);
    background: rgb(243, 243, 243);
    font-family: 'Potterfont', serif;
    font-size: var(--size-48);
    padding: var(--size-24) 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    bottom: var(--size-8);
}

#total-gryffindor-homepage-header {
    color: var(--gryffindor-red);
}

#total-gryffindor-homepage {
    color: var(--hp-gold);
}

#total-slytherin-homepage-header {
    color: var(--slytherin-green);
}

#total-slytherin-homepage {
    color: var(--slytherin-silver);
}

#total-ravenclaw-homepage-header {
    color: var(--ravenclaw-blue);
}

#total-ravenclaw-homepage {
    color: var(--ravenclaw-gold);
}

#total-hufflepuff-homepage-header {
    color:var(--hufflepuff-brown);
}

#total-hufflepuff-homepage {
    color: var(--hufflepuff-yellow);
}

/* MODAL STYLING */
.page-block {
    background-color: rebeccapurple;
    background: url(../assets/page-bg3.jpg);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
}

.modal, 
.full-site-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    transition: all 0.35s ease-in;
    visibility: hidden;
    opacity: 0;
    z-index: 200;
    overflow-y: auto;
}

.modal-dialog {
    max-width: 800px;
    max-height: 80vh;
    background: var(--bg-panel);
    color: var(--color-text-base);
    overflow: hidden;
    padding: 1.25rem 1.85rem;
    border-radius: 5px;
    cursor: default;
}

.modal-header {
    display: flex;
    padding-bottom: 1rem;
    justify-content: space-between;
}

.modal-header h3 {
    color: var(--color-text-base);
    font-family: 'Potterfont', serif;
}

.modal-header .header-sort-btns-container {
    text-align: left;
}

.favs-house-totals-container {
    display: flex;
    font-size: var(--size-24);
    width: 115%;
    justify-content: space-evenly;
    align-items: center;
    margin: var(--size-8) 0 -1.5rem 0;
}

.modal-header .fa-times {
    font-size: 1.5rem;
    transition: all 0.5s ease-in;
}

.modal-header .fa-times:hover {
    transition: scale(1.1);
    cursor: pointer;
}

.full-site-modal.is-visible,
.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.modal-body {
    display: flex;
    align-items: center;
}

.modal-body .img-wrapper {
    max-width: 200px;
    margin-right: 0.75rem;
}

.modal-body .img-wrapper img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: 200px;
}

[data-animation = "zoomInOut"].full-site-modal {
    transform: scale(0.2);
}

[data-animation = "zoomInOut"].full-site-modal.is-visible {
    transform: none;
}

/* ANIMATION FOR PF ITEM MODALS */
[data-animation="slideInOutTop"] .modal-dialog {
    opacity: 0;
    transition: 0.5s;
}

[data-animation="slideInOutTop"].is-visible .modal-dialog {
    opacity: 1;
    transition-delay: 0.2s;
}

[data-animation="slideInOutTop"] .modal-dialog {
    transform: translateY(-100%);
}

[data-animation="zoomInOut"].full-site-modal.is-visible,
[data-animation="slideInOutTop"].is-visible .modal-dialog {
    transform: none;
    overflow-y: auto;
}